.post {
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 45rem;
    // min-height: 80%;
    padding: 1rem;
    background-color: #5c6d70;
    h1 {
        text-align: center;
    }
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    @media (max-width: 700px) {
        max-width: 85vw;
    }
}

.postContent {
    width: 100%;
    img {
        max-width: 100%;
    }
}