@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
html {
    margin: 0;
}

body {
    margin: 0;
    background-color: #484a47;
    color: #e0ac9d;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #e0ac9d;
}